.align-center {
	text-align: center;
}

.image-logo {
    padding-top: 50px;
}

.size-image-login {
    width: 35%;
}

.texto-um {
	font-weight: bold;
	padding-top: 20px;
	font-size: 22px;
	color: #0D313D;
}

.texto-dois {
	padding-top: 20px;
	color: #0D313D;
	font-size: 15px;
}

.text-tabs-login {
    font-weight: bold;
    font-size: 15px;
}

.sc-ion-segment-md-h, .sc-ion-segment-ios-h {
    --color-checked: #0D313D;
    --background-checked: transparent;
    --color: #606166;
}

.input-item {
    --highlight-color-focused: transparent;
    --border-width: 1px;
    --border-radius: 5px;
    padding: 2px;
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
}

.padding-input-login {
	padding: 20px 30px;
}

.btn-entrar {
	--background: #0D313D;
    --border-radius: 5px;
    width: 100%;
    height: 45px;
}

.label-cadastre-esqueci-senha {
	--color: #0D313D;
	font-weight: bold;
}


