.text-toolbar-title {
	color: #0D313D; 
	font-weight: bold; 
	padding-left: 10px; 
	padding-right: 10px;
}

.header-ios ion-toolbar {
    padding: 8px 8px 8px 15px;
}

.add-eight-margin-top {
	margin-top: 8px;
}

.btn-big {
    --background: #0D313D;
    --border-radius: 5px;
    width: 95%;
    height: 45px;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}