.text-toolbar-title {
    color: #0D313D; 
    font-weight: bold; 
    padding-left: 10px; 
    padding-right: 10px;
}

.user-photo ion-avatar {
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

.btn-salvar {
    --background: #0D313D;
    --border-radius: 5px;
    width: 95%;
    height: 45px;
}

.add-padding-top-quize {
    padding-top: 15%;
}